.btn-group.select-radio.ransack_combinator_radio(data-toggle="buttons-radio" data-select="ransack_combinator")
  %button.btn.active(type="button" value="or") Any
  %button.btn(type="button" value="and") All
