.fields.well{ 'data-object-name' => f.object_name }
  .combinator
    - key = (f.object_name =~ /[0]/) ? :group_first : :group_rest
    - combinator = f.combinator_select({}, :class => 'ransack_combinator') + render('ransack_ui/combinator_radio')
    = t(key, :combinator => combinator).html_safe

  .filters
    - f.object.build_condition unless f.object.conditions.any?
    = f.condition_fields do |c|
      = render 'ransack_ui/condition_fields', :f => c

    %p
      = link_to_add_fields t(:add_condition), f, :condition
