.fields.sort
  %span.sort_by Sort by:
  = f.sort_select

  .btn-group.select-radio.ransack_sort_radio(data-toggle="buttons-radio" data-select="ransack_sort_order")
    %button.btn.active(type="button" value="asc") ascending
    %button.btn(type="button" value="desc") descending